/* Write your CSS here */
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 64px;
  width: 64px;
}
p {
  color: #252627;
  font-size: 15px;
  font-family: Open Sans;
}
